
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/Lesson14/Lesson14.UnitTests/obj/Debug/net5.0/Lesson14.UnitTests.csproj.AssemblyReference.cache
/Lesson14/Lesson14/obj/Debug/net5.0/Lesson14.csproj.AssemblyReference.cache
/Lesson14/.vs/Lesson14/v17/.suo
/Lesson14/.vs/Lesson14/v17/.suo
/Lesson14/Lesson14.UnitTests/obj/Debug/net5.0/Lesson14.UnitTests.csproj.AssemblyReference.cache
/Lesson14/Lesson14/obj/Debug/net5.0/Lesson14.csproj.AssemblyReference.cache
